{% extends 'base.html'%} 
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'Games/index.css' %}">
{% endblock %} 

{% block title %} 
Monopoly - Game
{% endblock %} 


 {% block content %}

  {% load static %}
<body>
  <div class="vertical-center">
    <div class="container d-flex p-2 justify-content-center">
      <div class="card">
        <div class="d-flex align-items-center logo-container">
          <img
            class="card-img-top"
            style="width: 100%; height: auto;"
            src="{% static 'Games/monopolyLogo.png' %}"
            alt=""
          />
        </div>
        <div class="card-body form-container d-flex align-items-end justify-content-center">
          <form action="/addGame" method="post" class="mt-auto p-2">
            {% csrf_token %} {{form}}<br />
            <button
              id="startGame"
              type="submit"
              class="btn btn-success btn-lg"
              disabled
            >
              Start
            </button>
            <button
              id="loadGame"
              type="button"
              class="btn btn-dark btn-lg"
              {%
              if
              hasGame%}
              disabled
              {%
              endif%}
            >
              <a href="/games">
                Load
              </a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="color-border"></div>

  {% endblock %} {%block scripts %} function success() {
  if(document.getElementById("gameName").value==="") {
  document.getElementById('startGame').disabled = true; } else {
  document.getElementById('startGame').disabled = false; } } {% endblock %}
</body>
