<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %} head here {%endblock%}
    <title>{%block title %} Title here {%endblock%}</title>
</head>
{%block content %} content here {% endblock %}
</body>
<script>
{% block scripts %} scripts here {% endblock %}
</script>
</html>