<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Monopoly - Start</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Miriam+Libre&family=Poppins&display=swap');
    </style>
</head>
<body>
    <!-- <h1>Monopoly!</h1> -->
    <div class="jumbotron">
        <h1 style="font-family: 'Poppins', sans-serif;">MONOPOLY!</h1>      
    </div>  
    <div class="container">
        <button type="button" class="btn btn-success">New Game</button>
        <button type="button" class="btn btn-info">Load Game</button>    
      </div>
    <!-- <form action="/addTodoItem/" method = "post">{% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="Add Todo Item">
    </form>  -->
</body>
</html>