{% extends 'base.html'%}

{% block head %}
<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesome_free/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesome_free/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesome_free/css/solid.css' %}" rel="stylesheet" type="text/css">
{% endblock %}



{% block title %}
    Monopoly - Players
{% endblock %}


{% block content %}

<form method="post">{% csrf_token %}
        {{form}} 
        <button type="submit"><i class="fas fa-user-plus"></i></button>
    </form>

    <ul>
        {% for player in players_list %}
            <li>
                {{player}} 
                <a href="{% url "editName" player.id %}"> <i class="fas fa-user-edit"></i> </a>
                <a href="{% url "deletePlayer" player.id %}"><i class="fas fa-trash-alt"></i></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}