{% extends 'base.html' %}

{% block head%}
BANK
{% endblock %}
{% block content %}

<table>
    {% for player in playersList %}
        <tr>
            <td>{{player.playerName}}</td>
            <td>{{player.money}}</td>
        </tr>
    {% endfor %}
</table>
<form id='transactions-form' action="{{gameName}}/pay" method="post">
    {% csrf_token %}
    <select id="payer" name="payer">
        {% for player in playersList %}
        <option value="{{player.id}}">{{player.playerName}}</option>
        {% endfor %}
        <option value="Bank">Bank</option>
    </select>
    <label for="payee"> =></label>
    <select id="payee" name="payee">
        {% for player in playersList %}
        <option value="{{player.id}}">{{player.playerName}}</option>
        {% endfor %}
        <option value="Bank">Bank</option>
    </select>
    <input id="amount", name='amount' type='number'/>
    <button type="submit" >pay</button> 
    </form>
    {{message}}
{% endblock %}



{% block scripts %}
$(document).on('submit','#transactions-form',function(e){
  e.preventDefault();

  $.ajax({
    type:'POST',
    url:'{{gameName}}/pay',
    data:{
        payee:$('#payee').val(),
        payer:$('#payer').val(),
        amount:$('#amount').val(),
      csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function(data){
    }
  });
  document.getElementById('amount').value = ''
});
{% endblock %}